BOT_TOKEN=your_telegram_bot_token
BOT_USERNAME=dj_tool_bot
BOT_APP_NAME=djtool
FRONTEND_PORT=5173
BACKEND_PORT=8787
BEATPORT_CLIENT_ID=your_beatport_client_id
BEATPORT_CLIENT_SECRET=your_beatport_client_secret
BEATPORT_USERNAME=your_beatport_username
BEATPORT_PASSWORD=your_beatport_password
